<div class="grid_6">

	<h1>Bio.</h1> 
 
	<p>My name is Rune Skjoldborg Madsen and I was born January 3rd 1983  in a small city outside of Copenhagen, Denmark. I work with graphic design and programming, and my interests include data visualization, generative art and interactive installations.</p>
	<p>I thrive in the space between clean  graphic design and elegant object-oriented programming. I've  learned that true beauty on screen requires beauty in code. I have  bachelor degree in <a target="_blank" href="http://filmandmedia.ku.dk/">Film  and Media Studies</a> from the <a target="_blank" href="http://www.ku.dk/english/">University of Copenhagen</a>, and I'm  currently finishing my Masters degree at the <a target="_blank" href="http://itp.nyu.edu/itp/">Interactive Telecommunications Program</a> at <a target="_blank" href="http://www.nyu.edu/">New York University</a>.</p>
	<p>People often ask me what technologies I use for my work, and I tell them I use the technologies needed for implementing the vision I have. I consider this a very important approach in the ever changing world of technology.</p>
	
</div>

<div class="grid_3 alignWithContent">
	<h3>Work</h3> 
	<ul>
		<li> <img alt="TV2" src="/images/companies/bio_tv2.jpg" /> </li>
		<li> <img alt="Hello Group" src="/images/companies/bio_hello.jpg" /> </li>
		<li> <img alt="Innovation" src="/images/companies/bio_innovation.jpg" /> </li>
		<li><img alt="Elsparefonden" src="/images/companies/bio_elspare.jpg" /></li>
		<li><img alt="Others" src="/images/companies/bio_bottom1.jpg" /></li>
	</ul>
</div>
<div class="grid_3 alignWithContent">
	<h3>Teaching</h3> 
	<ul>
		<li> <img alt="Lego" src="/images/companies/bio_lego.jpg" /></li>
		<li> <img alt="Ecco" src="/images/companies/bio_ecco.jpg" /></li>
		<li> <img alt="Dong Energy" src="/images/companies/bio_dong.jpg" /></li>
		<li> <img alt="OK Benzin" src="/images/companies/bio_ok.jpg" /></li>
		<li> <img alt="Others" src="/images/companies/bio_bottom2.jpg" /></li>
	</ul>
</div>
<div class="clear"></div>
