<h1>Blog.</h1>

<% for post in @posts %>
      
	<div class="blogPost"> 
		<div class="blogHeader"> 
	    	<div class="blogHeading"> 
				<a href="/blog/55-transparent-background-in-processingjs"><h2><%= post.title %></h2></a> 
	        </div> 
	    <div class="blogDate"> 
	    	<h4><15.10.10><%= post.created_at %></h4> 
	    </div> 
	    <br class="clearfloat" /> 
	</div> 
	
	<%= CGI.unescape post.body %>
	
</div>

<% end %>
