<div class="grid_6"> 
			
<h1>Contact.</h1> 
 
<p>Feel free to contact me with inquiries or project proposals. <br />I will try to answer emails as soon as possible.</p>
<table border="0">
<tbody>
<tr>
<td>Email:&nbsp;</td>
<td> 
 <script language='JavaScript' type='text/javascript'> 
 <!--
 var prefix = 'm&#97;&#105;lt&#111;:';
 var suffix = '';
 var attribs = '';
 var path = 'hr' + 'ef' + '=';
 var addy15349 = 'r&#117;n&#101;' + '&#64;';
 addy15349 = addy15349 + 'r&#117;n&#101;m&#97;ds&#101;n' + '&#46;' + 'c&#111;m';
 document.write( '<a ' + path + '\'' + prefix + addy15349 + suffix + '\'' + attribs + '>' );
 document.write( addy15349 );
 document.write( '<\/a>' );
 //-->
 </script><script language='JavaScript' type='text/javascript'> 
 <!--
 document.write( '<span style=\'display: none;\'>' );
 //-->
 </script>This e-mail address is being protected from spambots. You need JavaScript enabled to view it
 <script language='JavaScript' type='text/javascript'> 
 <!--
 document.write( '</' );
 document.write( 'span>' );
 //-->
 </script></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>New York City Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br /></td>
<td>61 Driggs Avenue, apt. 3F</td>
</tr>
<tr>
<td></td>
<td>11222, Brooklyn. NY</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Copenhagen Address:</td>
<td>Falkoner Alle 73A, 5. sal</td>
</tr>
<tr>
<td></td>
<td>2000 Frederiksberg</td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
</tbody>
</table>

 
</div>
<div class="grid_3 alignWithContentText"> 

	<h3>Links.</h3> 
	
	<a href="http://www.vimeo.com/runemadsen" target="_blank">Vimeo Profile</a><br />
	<a href="http://www.github.com/runemadsen" target="_blank">Github Profile</a><br />
	<a href="http://dk.linkedin.com/in/runeskjoldborgmadsen" target="_blank">LinkedIn Profile</a><br />
	
					
</div> 
<div class="grid_3 alignWithContent"> 
					
	<h3>More Links.</h3> 
	
	<a href="http://dribbble.com/runemadsen" target="_blank">Dribbble Profile</a><br />
	
	
 
</div> 
<div class="clear"></div>
<div class="clear"></div>