<div class="grid_12"> 
 
	<h1>Not found!</h1> 
	
		<div class="grid_6 alpha"> 
			<p>Sorry! The page you were looking for has not been found. Try checking the URL for errors and reload the page. I saved this error to the database, so I'll try to fix it before you visit me next time. You can also try to <a href="/contact">contact me</a> if you really, really want to see this page.
		</div> 

		<div class="grid_6 omega"> 
			
		</div> 

		<div class="clear"></div>
    
</div>