<div class="grid_12"> 
 
	<h1 class="workPushDown">Work.</h1> 
 
	<div class="grid_6 alpha projectLeftBar"> 
		<%= unescape @project.leftbar %>
	</div> 
 
	<div class="grid_6 omega"> 
		<h3 class="workSelectedPushDown"><%= @project.title %></h3>
		<%= unescape @project.body %>
		
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4d6b1bb724001ee7"></script>
		<!-- AddThis Button END -->
		
	</div> 
 
	<div class="clear"></div> 
    
</div>