<div class="grid_12"> 
 
	<h1 class="workPushDown">Work.</h1> 
 
	<div class="grid_6 alpha projectLeftBar"> 
		<%= unescape @project.leftbar %>
	</div> 
 
	<div class="grid_6 omega"> 
		<h3 class="workSelectedPushDown"><%= @project.title %></h3>
		<%= unescape @project.body %>
	</div> 
 
	<div class="clear"></div> 
    
</div>