<div class="grid_12"> 
 
	<h1>Work.</h1> 
 
	<div class="grid_6 alpha"> 
		<%= unescape @project.leftbar %>
	</div> 
 
	<div class="grid_6 omega"> 
		<h2><%= @project.title %></h2>
		<%= unescape @project.body %>
	</div> 
 
	<div class="clear"></div> 
    
</div>