<div class="grid_6"> 
			
	<h1>Welcome.</h1> 
 
	<p>I am a <a target="_blank" href="http://en.wikipedia.org/wiki/Multimedia_artist">multimedia artist</a> working in the fields of <a href="/bio#programming">programming</a>, <a href="/bio#graphicdesign">graphic design</a> and music. I work on <a href="/work">interactive projects</a>, and I do this alone or in <a href="/bio#graphicdesign">teams</a>. I believe in <a target="_blank" href="http://en.wikipedia.org/wiki/Simplicity">simplicity</a> and <a href="http://en.wikipedia.org/wiki/Complexity">organized complexity</a> side by side, and I find inspiration in <a target="_blank" href="http://www.flickr.com/search/?w=all&amp;q=new+york&amp;m=text">New York</a>, <a target="_blank" href="http://www.flickr.com/search/?w=all&amp;q=berlin&amp;m=text">Berlin</a> and <a target="_blank" href="http://www.flickr.com/search/?q=copenhagen&amp;w=all">Copenhagen</a>.</p>
	<p>I use software environments to create my work and I learn new ones fast when it's needed. When I get the chance, I also <a href="/bio">teach</a>. I only check my <a target="_blank" href="http://www-cs-faculty.stanford.edu/~knuth/email.html">email once a day</a> and I generally try to break the <a target="_blank" href="http://en.wikipedia.org/wiki/Workplace_stress">nasty habits</a> of the modern office. Feel free to <a href="/contact">contact me</a> for inquiries or questions.</p> 
 
</div> 
	
<div class="grid_3"> 

	<h3>Work.</h3> 

	<%= @projects[0].html %>
	<%= @projects[1].html %>
					
</div> 
<div class="grid_3"> 
					
	<h3>More Work.</h3> 
					
	<%= @projects[2].html %>
	<%= @projects[3].html %>
 
</div> 
<div class="clear"></div> 